body, html {
    margin: 0px;
    background-color: #2D2D2D;
    width: 100vw;
    height: 100vh;
}

a {
    text-decoration: none;
    color: #2D2D2D;
}

::-moz-selection {
    background: #FFBE22;
}

::selection {
    background: #FFBE22;
}

::-moz-selection {
    background: #FFBE22;
}

/* Home section */

.home {
    height: 100%;
    width: 100%;
    -webkit-perspective: 1px;
    perspective: 1px;
    margin: 0px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.backgrnd {
    position: absolute;
    background-image: url(img/IMG_0794_50__1453910038_152.168.99.2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 750px;
    height: 100vh;
    width: 100vw;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-transform: translateZ(-1px);
    transform: translateZ(-1px);
    -webkit-transform: translateZ(-2px) scale(3);
    transform: translateZ(-2px) scale(3);
}

header {
    position: absolute;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-transform: translateZ(-1px);
    transform: translateZ(-1px);
    -webkit-transform: translateZ(-1px) scale(2);
    transform: translateZ(-1px) scale(2);
    margin-top: -42vh;
}

.logoIgle {
    width: 50px;
    height: 37px;
    background-image: url(icons/Oval%202%20+%20Path%201%20+%20Path%202%20+%20Path%203.svg);
    background-size: contain;
    background-repeat: no-repeat;
    margin: auto 0;
    margin-right: 41vw;
    margin-left: 10px;
}

header .wrap {
    width: 600px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    margin-top: 10px;
    margin-right: 25px;
}

header .wrap a {
    margin-right: 18px;
    padding: 0px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
}

header .wrap a p {
    font-family: "Lato", serif;
    font-weight: 300;
    font-size: 17px;
    text-align: center;
    padding-top: 19px;
    color: #F6F7F8;
}

.line p {
    cursor: default;
}

header .wrap .twitter {
    width: 19px;
    background-image: url(icons/Twitter_logo_white.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

header .wrap .facebook p {
    font-weight: 700;
    font-size: 23px;
    margin-top: 12px;
}

header .wrap .mn p {
    width: 100px;
    padding: 8px;
    border-radius: 8px;
    background-color: #FFB52D;
}

header .wrap .youtube {
    width: 17px;
    background-image: url(icons/Triangle%201.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.title {
    width: 100%;
    height: 60px;
    position: absolute;
    margin-top: 630px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-transform: translateZ(-3px);
    transform: translateZ(-3px);
    -webkit-transform: translateZ(-1.2px) scale(3);
    transform: translateZ(-1.2px) scale(3);
}

.title h1{
    font-family: 'Lato', serif;
    font-size: 50px;
    font-weight: 300;
    color: #F6F7F8;
    text-align: center;
    margin: auto 0;
    -webkit-animation: fadein 2.5s;
            animation: fadein 2.5s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.arrow {
    width: 100%;
    height: 35px;
    position: absolute;
    margin-top: 970px;
    background-image: url(img/arrow.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    -webkit-transform: translateZ(-3px);
    transform: translateZ(-3px);
    -webkit-transform: translateZ(-1.2px) scale(3);
    transform: translateZ(-1.2px) scale(3);
}

.arrow:hover {
    -webkit-animation: bounce 2s;
    animation: bounce 2s;
}

@-webkit-keyframes bounce {
        0%{ margin-top: 970px; }
        10%{ margin-top: 960px; }
        25%{ margin-top: 981px; }
        50%{ margin-top: 970px; }
        75%{ margin-top: 977px; }
        100%{ margin-top: 970px; }
}


/* Abut us section */

.about {
    width: 100vw;
    height: 385px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-transform: translateZ(-1px);
    transform: translateZ(-1px);
    -webkit-transform: translateZ(-1px) scale(2);
    transform: translateZ(-1px) scale(2);
    margin: 0;
    background-color: #F6F7F8;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    position: absolute;
    margin-top: 1317px;
}

.about .pContainer {
    width: 740px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.about .pContainer p {
    font-family: "Lato", serif;
    color: #2D2D2D;
    text-align: center;
    padding: 10px;
    text-decoration: none;
}

.about .pContainer p:nth-child(1){
    font-weight: 700;
    font-size: 25px;
    margin: 0 auto;
}

.about .pContainer p:nth-child(2){
    font-weight: 400;
    font-size: 17.5px;
    width: 550px;
    margin: 0 auto;
}

/* Information section */

.info{
    position: absolute;
    width: 100vw;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-transform: translateZ(1px);
    transform: translateZ(1px);
    -webkit-transform: translateZ(-1px) scale(2);
    transform: translateZ(-1px) scale(2);
    height: 368px;
    background-color: #2D2D2D;
    margin-top: 2080px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-flow: wrap;
    -ms-flex-flow: wrap;
    flex-flow: wrap;
}

.info-text {
    height: 100px;
    width: 280px;
    background-image: url(img/reuniongeneral.png);
    background-repeat: no-repeat;
    background-size: contain;
    margin: auto 100px auto;
}

.info a {
    margin: auto 100px auto;
}

.map {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 5px solid #F7F7F7;
    box-shadow: inset 0 0 10px #000000;
    background-image: url(img/maps.jpg);
    background-position: center;
    background-size: 500px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.map:hover {
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-size: 650px;
}

/* Reuniones Cartel section */

.reu-heading {
    position: absolute;
    height: 570px;
    width: 100vw;
    background-image: url(img/IMG_0090__1453909662_152.168.99.2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -4;
     -webkit-transform: translateZ(-1px);
    transform: translateZ(-1px);
    -webkit-transform: translateZ(-2px) scale(3);
    transform: translateZ(-2px) scale(3);
    margin-top: 2815px;
}

.tlContainer{
    width: 135px;
    height: 35px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-transform: translateZ(-3px);
    transform: translateZ(-3px);
    -webkit-transform: translateZ(-1.2px) scale(3);
    transform: translateZ(-1.2px) scale(3);
    margin: 0 auto;
    margin-top: 3013px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
}

.tlContainer p {
    font-family: 'Old Standard TT', serif;
    font-size: 21px;
    font-weight: 300;
    color: #2D2D2D;
    text-align: center;
    margin: auto 0;
}

.reuniones {
    width: 150px;
    height: 45px;
    position: absolute;
    background-color: #FCB540;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-transform: translateZ(-3px);
    transform: translateZ(-3px);
    -webkit-transform: translateZ(-1.2px) scale(3);
    transform: translateZ(-1.2px) scale(3);
    margin: 0 auto;
    margin-top: 3010px;
    border-radius: 7px;
}

/* Actual Reuniones section */

.aReuniones {
    position: absolute;
    width: 100vw;
    height: 650px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-transform: translateZ(0px);
    transform: translateZ(0px);
    -webkit-transform: translateZ(-1px) scale(2);
    transform: translateZ(-1px) scale(2);
    margin-top: 3690px;
    background-color: #F6F7F8;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.reunionesContainer{
    height: 100%;
    width: 950px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-flow: wrap;
    -ms-flex-flow: wrap;
    flex-flow: wrap;
}

/* Cards section */

.card{
    width: 250px;
    height: 270px;
    margin: auto 20px;
    padding: 12px 10px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-flex-flow: column wrap;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
}

.card p {
    width: 100px;
    height: 30px;
    text-align: center;
    font-family: "Lato", serif;
    font-weight: 300;
    font-size: 20px;
    color: #757575;
    margin: 16px auto 14px;
    padding: 6px 8px 3px;
    border: 1px solid #757575;
    border-radius: 0px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    border-radius: 5px;
}

.card p:hover {
    border: 1px solid #2D2D2D;
    color:#2D2D2D;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.cardImg {
    width: 180px;
    height: 180px;
    margin: 0 auto;
    box-sizing: border-box;
    border: 90px solid rgba(0,0,0,0.2);
    border-radius: 50%;
    background-image: url(img/11045393_789327607857015_8345691211337868399_n.jpg);
    background-size: 450px;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.cardImg:hover {
    border: 40px solid rgba(0,0,0,0);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

/* YT section */

.video {
    position: absolute;
    height: 600px;
    width: 100%;
    -webkit-transform: translateZ(0px);
    transform: translateZ(0px);
    -webkit-transform: translateZ(-1px) scale(2);
    transform: translateZ(-1px) scale(2);
    margin-top: 1920px;
    background-color: #2D2D2D;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
}

video {
    min-height: 100%;
    width: 100vw;
}

/* New Members section */

.newMembers {
    height: 700px;
    width: 100vw;
    -webkit-transform: translateZ(1px);
    transform: translateZ(1px);
    -webkit-transform: translateZ(-1px) scale(2);
    transform: translateZ(-1px) scale(2);
    margin-top: 3175px;
    background-color: white;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-flex-flow: column wrap;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
}

.miembros{
    width: 290px;
    height: 43px;
    padding: 10px;
    margin: 40px auto 50px;
    border: 5px solid #3C3C3C;
    border-radius: 10px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-flow: wrap;
    -ms-flex-flow: wrap;
    flex-flow: wrap;
}

.miembros p {
    width: 100%;
    font-family: 'Old Standard TT', serif;
    font-size: 30px;
    color: #3C3C3C;
    text-align: center;
    margin: auto 0;
}

.infoContainer{
    height: 300px;
    width: 850px;
    margin: 70px auto 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-flex-flow: wrap;
    -ms-flex-flow: wrap;
    flex-flow: wrap;
}

.info--Card {
    height: 300px;
    width: 250px;
    margin-left: 30px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-flex-flow: wrap;
    -ms-flex-flow: wrap;
    flex-flow: wrap;
}

.img--General {
  height: 190px;
  width: 190px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.info--Card p {
  width: 100%;
  height: 30px;
  text-align: center;
  vertical-align: middle;
  font-family: 'lato', serif;
  font-weight: 300;
  font-size: 20px;
}

.musicImg {
  background-image: url(icons/music.png);
}

.devoImg {
  background-image: url(icons/book_icon_black_background_vector_280790.png);
}

.infoImg {
  background-image: url(icons/info.png);
}

#nuevosMiembros {
    margin-top: -720px;
    height: 500px;
    width: 100%;
    -webkit-transform: translateZ(0px);
    transform: translateZ(0px);
}

/* Footer section */

.footer {
    margin-top: 620px;
    height: 250px;
    width: 100%;
    background-color: #2D2D2D;
    -webkit-transform: translateZ(0px);
    transform: translateZ(0px);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.list-modifier {
    width: 150px;
    height: 200px;
    margin: auto 60;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-flex-flow: wrap column;
    -ms-flex-flow: wrap column;
    flex-flow: wrap column;
}

.list-modifier p {
    margin: 0;
    font-family: 'Lato', serif;
    font-size: 20px;
    font-weight: 300;
    color: #FFB52D;
    text-align: left;
}

.list-modifier li {
    list-style: none;
    margin-left: -40px;
    margin-bottom: 12px;
    text-align: left;
    font-family: 'Lato', serif;
    font-size: 17px;
    font-weight: 100;
    color: #FFB52D;
}
.contacto {
    margin-right: 30px;
}
.deptos{
    margin-left: 0px;
}

.logoIgleSegundo {
    width: 80px;
    height: 60px;
    background-image: url(icons/Oval%202%20+%20Path%201%20+%20Path%202%20+%20Path%203.svg);
    background-size: contain;
    background-repeat: no-repeat;
    margin: auto 0;
    margin-left: 600px;
    margin-right: 20px;
}

/* Media Queries*/

@media (max-width: 1160px) {
    .logoIgle {
        margin-right: 36vw;
    }

    .logoIgleSegundo {
        margin-left: 450px;
    }
}

@media (max-width: 540px) {

  .home {
    position: absolute;
    -webkit-perspective: 0px;
    perspective: 0px;
    width: 100vw;
    height: 100vh;
    -webkit-overflow-scrolling: touch;
  }

  .backgrnd {
    position: relative;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    width: 100vw;
    height: 600px;
    min-height: 90px;
    background-size: cover;
  }

  header {
    display: none;
  }

  .title {
    position: relative;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    margin-top: -280px;
  }

  .title p {
    font-weight: 300;
  }

  .arrow {
    position: relative;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    margin-top: 40px;
  }

  .about {
    position: relative;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    margin-top: 140px;
    height: 350px;
  }

  .about p {
    width: 90vw;
    padding: 0px;
  }

  .about .pContainer p:nth-child(2){
      width: 90vw;
      font-size: 15px;
  }

  .about .pContainer p:nth-child(1){
    font-size: 22px;
  }

  .info {
    position: relative;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    margin-top: 0px;
    height: 450px;
  }

  .info-text {
    height: 90px;
    width: 260px;
    margin: 0px 20px 20px 20px;
    padding: 0px;
  }

  .info a {
    margin: 0;
  }

  .map {
    height: 70vw;
    width: 70vw;
    max-width: 250px;
    max-height: 250px;
    margin: 0 auto;
  }

  .reu-heading {
    position: relative;
    display: none;
  }

  .tlContainer {
    position: absolute;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    z-index: 20;
    background-color: #F6F7F8;
    margin-top: 1459px;
  }

  .reuniones {
    margin-top: 1450px;
    width: 180px;
    height: 55px;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    z-index: 20;
    background-color: #F6F7F8;
    border: 2px solid #2D2D2D;
  }

  .tlContainer p {
      font-family: 'Old Standard TT', serif;
      font-size: 27px;
      font-weight: 300;
      color: #2D2D2D;
      text-align: center;
      margin: auto 0;
  }

  .aReuniones {
    position: relative;
    margin-top: 0px;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    height: 1500px;
  }

  .reunionesContainer {
    margin-top: 50px;
  }

  .card {
    padding: 3px;
    height: 250px;
    margin-bottom: 5px;
  }

  .card p {
    margin: 9px auto;
    color: #2D2D2D;
    border: 1px solid #2D2D2D;
  }

  .cardImg {
    width: 190px;
    height: 190px;
    border: none;
  }

  .cardImg:hover {
      border: none;
  }

  .video {
    position: relative;
    margin-top: 0px;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    height: 31vh;
  }

  .newMembers {
    position: relative;
    margin-top: 0px;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    height: 1150px;
  }

  .miembros {
    margin: -50px auto 160px;
    border: 2px solid #3C3C3C;
    width: 240px;
    padding: 7px;
}

.miembros p {
    font-size: 25px;
}

  #nuevosMiembros {
    display: none;
  }

  .infoContainer {
    height: 700px;
    width: 100%;
    margin: 0 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-flex-flow: wrap;
    -ms-flex-flow: wrap;
    flex-flow: wrap;
  }

  .info--Card {
    margin: 0;
  }

  .footer {
    position: relative;
    margin-top: 0px;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    height: 240px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-flow: row;
  }

  .deptos, .contacto {
    margin: 30px auto auto 2.5vw;
    width: 200px;
  }

  .logoIgleSegundo {
    display: none;
  }

  .list-modifier p {
    float: left;
  }

}
