body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
}

#peopleModule {
  max-width: 300px;
}

h1 {
  font-family: monospace;
  margin: 22px auto;
  text-align: center;
  font-size: 40px;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

input {
  border-radius: 5px;
  height: 25px;
  width: 198px;
  padding: 0;
  margin: 0;
  font-family: monospace;
  font-size: 15px;
}

input[type=text], select {
    padding: 19px 10px;
    display: inline-block;
    border: 2px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    transition: all ease-in-out 0.2s;
}

input[type=text]:focus {
    border: 2px solid #555;
    transition: all ease-in-out 0.5s;
    box-shadow: inset 0px;
}


button {
  font-family: monospace;
  font-size: 17px;
  margin-top: 2px;
  padding: 9px 10px;
  background-color: white;
  border: 2px solid #ccc;
  border-radius: 4px;
}

ul {
  padding: 0;
  margin-top: 40px;
}

li {
  display: flex;
  justify-content: space-between;
  transform: translateY(-40px);

}

.lis {
  list-style: none;
  margin: 10px auto;
}

span {
  margin: auto 0;
  font-family: monospace;
  font-size: 22px;
}

.del {
  width: 40px;
  height: 17px;
  background-color: black;
  font-family: monospace;
  color: white;
  padding: 4px;
  margin: auto 0;
  text-align: center;
}

.newLi {
  transform: translateY(0px);
  transition: all 0.3s ease-in-out;
}

.toggled {
  transform: translateY(0px);
}
