/* First */

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* First */

.rScroll {
  width: 100%;
  height: calc(103vh + 3300px);
  background: black;
  overflow-x: hidden;
}

.logo {
  width: 50px;
  height: 50px;
  position: fixed;
  background-image: url(images/logo.svg);
  background-size: contain;
  z-index: 4;
  margin: 20px;
}

.socialMedia {
  position: fixed;
  z-index: 4;
  margin-top: 93vh;
  width: 300px;
  display: flex;
  justify-content: flex-start;
  align-content: center;
  margin-left: 20px;
}

.logo.stick {
  z-index: 4;
  margin: 20px;
  position: fixed;
}

.socialMedia.stick {
  position: fixed;
  z-index: 4;
  margin-top: 93vh;
}

.socialMedia a {
  text-decoration: none;
  color: white;
}

.socialMedia p {
  margin-right: 10px;
  width: 80px;
  color: white;
  text-align: left;
  font-family: 'Lato', sans-serif;
  font-size: 13px;
  font-weight: 400;
}

.twitter {
  margin-right: 0px;
}

.socialMedia a:hover {
  text-decoration: underline;
}

.titleScroll {
  width: 2900px;
  height: 100vh;
  background-color: black;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: fixed;
  opacity: 1;
  z-index: 3;
}

.titleScroll p {
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-size: 350px;
  word-spacing: -10px;
  letter-spacing: -16px;
  margin: auto 0;
  width: 100%;
  font-weight: 700;
}

.textScrollUp {
  width: 100%;
  height: 1400px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  flex-flow: column;
  margin-top: 600px;
  position: absolute;
}

.textScrollUp p {
  width: 600px;
  height: 1000px;
  margin: 0 auto;
  font-family: 'Lato', sans-serif;
  font-size: 25px;
  font-weight: 300;
  text-align: left;
  color: white;

}

.capaContainer {
  margin: 0 auto;
  width: 550px;
  height: 400px;
}

.capaContainer p {
  width: 100%;
  height: 30px;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 16px;
  margin: 20px 0px 10px 0px;
  text-align: left;
  display: block;
}

.capaContainer span {
  width: 5px;
  height: 5px;
  background: white;
  display: block;
  transition: all 300ms ease-out
}

.element1.in-view {
  animation-name: element1;
  animation-duration: 600ms;
  animation-timing-function: ease-out;
  width: 300px;
}

@keyframes element1 {
  0% {width: 50px;}
  100% {width: 300px;}
}

.element2.in-view {
  animation-name: element2;
  animation-duration: 600ms;
  animation-timing-function: ease-out;
  width: 500px;
}

@keyframes element2 {
  0% {width: 50px;}
  100% {width: 500px;}
}

.element3.in-view {
  animation-name: element3;
  animation-duration: 600ms;
  animation-timing-function: ease-out;
  width: 400px;
}

@keyframes element3 {
  0% {width: 50px;}
  100% {width: 400px;}
}

.element4.in-view {
  animation-name: element4;
  animation-duration: 600ms;
  animation-timing-function: ease-out;
  width: 450px;
}

@keyframes element4 {
  0% {width: 50px;}
  100% {width: 450px;}
}

.whiteWork {
  width: 100vw;
  height: 100vh;
  position: absolute;
  margin-top: 2100px;
  background: white;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  overflow-x: hidden;
}

.whiteWork p {
  margin: auto 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 400px;
  color: black;
  font-weight: 700;
}

.whiteWork.in-view {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 20;
  margin: 0;
}

.workContainer {
  margin-top: 1.52%;
  margin-left: 100vw;
  position: absolute;
  height: 95vh;
  width: 4000px;
  -webkit-transform: translate(50px, 0px);
          transform: translate(50px, 0px);
  z-index: 22;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
}

.eachWork {
  height: 100%;
  width: 950px;
  margin-right: 50px;
}

.workContainer:nth-child(4) {
  margin-right: 0px;
}

.imageWork {
  height: 96%;
  width: 100%;
}

.eachWork video {
  width: 100%;
  background: rgba(255, 225, 35, 0.5);
}

.imageWork2 {
  background-image: url(images/img2.png);
  background-position: center;
  background-size: cover;
}

.imageWork3 {
  background-image: url(images/img3.png);
  background-position: center;
  background-size: cover;
}

.imageWork4 {
  background-image: url(images/img4.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.eachWork p {
  font-size: 15px;
  height: 4%;
  width: 200px;
  text-align: left;
  margin: 0;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}






/* First */
/* First */
/* First */
/* First */
/* First */
