body, html {
    margin: 0px;
    background-color: #797979;
    width: 100%;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

@@font-face {
  font-family: 'Didot';
  src: url(fonts/HenriDidot.otf);
}

.header {
  width: 100%;
  height: 570px;
  background-image: url(ECB_NY_89t.png);
  background-size: cover;
  background-position: center;
  background-color: #EB298E;
  position: fixed;
  margin-top: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-flex-flow: column;
      -ms-flex-flow: column;
          flex-flow: column;
}

.title--container {
  height: 100%;
  width: 850px;
  margin: 0 auto;
}

h1, h2 {
  text-align: center;
  font-family: 'Didot';
  font-size: 80px;
  color: #F6F7F8;
  width: 430px;
  height: 100px;
  background-color: #000000;
  margin: 150px 0 0 0;
  padding: 10px;
}

h2 {
  margin: 0;
  font-size: 50px;
  width: 300px;
  height: 65px;
  text-align: left;
  padding-left: 23px;
}

.text--container {
  position: relative;
  height: 2650px;
  margin: 570px 0 0px 0;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  -webkit-flex-flow: column;
      -ms-flex-flow: column;
          flex-flow: column;
  background-color: #F6F7F8;
}

h3, p, article {
  font-family: 'Lato', serif;
  font-size: 20px;
  width: 100%;
}

h3 {

  margin: 0px auto 20px 70px;
}

.titulo--container {
  width: 800px;
  margin: 0 auto;
  font-weight: 300;
}

p {
  width: 120px;
  padding: 10px;
  color: #F6F7F8;
  background-color: #EB298E;
}

article {
  width: 800px;
  height: 480px;
  margin: 20px auto 0;
}

.celu {
  margin-top: 20px;
  margin-bottom: 0px;
  height: 550px;
}

.celu2 {
  height: 630px;
  margin-top: 40px;
  margin-bottom: 40px;
}

hr {
  width: 800px;
  height: 5px;
  background-color: #E9E9E9;
  border-radius: 50px;
  border: none;
}

.segundo--titulo p{
  width: 130px;
  margin-top: 60px;
}

.phone--image {
  width: 100vw;
  height: 370px;
  margin: 0;
  background-color: pink;
  background-image: url(agusmoncada0.png);
  background-size: cover;
  background-position:center;
  background-attachment: fixed;
}

.topButton {
  height: 70px;
  width: 70px;
  margin: 20 auto;
  border-radius: 50%;
  background-color: #000000;
  z-index: 20;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
}

.topButton:hover {
    -webkit-box-shadow: 1px 1px 26px -14px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 1px 26px -14px rgba(0,0,0,0.75);
    box-shadow: 1px 1px 26px -14px rgba(0,0,0,0.75);
}

.topButton p {
  width: 10px;
  color: #F6F7F8;
  background-color: #000000;
  margin: auto 0;
  padding-right: 12px;
}
